.a-logo {
    margin-left: 15px;
    display: inline-block;
}

.entry {
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 20px;
    position: relative;
}

.meta-entry {
    position: relative;
    top: -20px;
    margin-left: -20px;
    margin-right: -20px;
}

.clearfix {
    clear: both;
}

.edit-post {
    position: absolute;
    bottom: 0;
    right: 0;
}

.search-bar {
    margin-bottom: 20px;
}

.logo {
    margin-bottom: 20px;
}

.info-text {
    float: right;
}

.half-width-btn {
    width: 50%;
}