{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <form id="post-form" method="post"
              action="{{ url_for('new-post') if new_post else url_for('edit', post_id=post.id) }}">
            <input id="tags" name="tags" />
            <textarea id="editor" name="editor"></textarea>
            <button type="submit" class="btn btn-default pull-right">Post</button>
        </form>
    </div>

</div>

<script>
    globals.data = {
        postTags: {{ post.tag_names|tojson|safe }},
        markdown: {{ post.markdown|tojson|safe }},
        newTags: decodeURIComponent({{ new_tags|tojson|safe }}).split(',').filter(function(val) {
            return !val.startsWith('-')
        })
    }

</script>
<script src="{{ url_for('static', filename='edit.js') }}"></script>

{% endblock %}