{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <form id="post-form" method="post"
              action="{{ url_for('new-post') if new_post else url_for('edit', post_id=post.id) }}">
            <input id="tags" name="tags" />
            <textarea id="editor" name="editor"></textarea>
            <button type="submit" class="btn btn-default pull-right">Post</button>
        </form>
    </div>

</div>

<script>
    var globals = globals || {}
    globals['postTags'] = {{ post.tag_names|tojson|safe }}
    globals['markdown'] = {{ post.markdown|tojson|safe }}
    globals['newTags'] = decodeURIComponent({{ new_tags|tojson|safe }}).split(',').filter(function(val) {
        return !val.startsWith('-')
    })

    $(function() {
        var simplemde = new SimpleMDE({
            element: $('#editor')[0],
            spellChecker: false,
            autoDownloadFontAwesome: false
        })
        $('#tags').select2({
            placeholder: 'Tags',
            tags: [],
            tokenSeparators: [' ', ','],
            width: '100%'
        })
        if ( globals.postTags.length > 0 ) {
            $('#tags').select2('val', globals.postTags)
        } else {
            $('#tags').select2('val', globals.newTags)
        }
        simplemde.value(globals.markdown)

        var callback = function() {
            $('#post-form').submit();
        }

        Mousetrap.bind('ctrl+enter', callback);
        $('#post-form input').each(function(idx, element) {
            Mousetrap(element).bind('ctrl+enter', callback)
        })

        $('#post-form textarea').each(function(idx, element) {
            Mousetrap(element).bind('ctrl+enter', callback)
        })
    });
</script>

{% endblock %}