{% extends "base.html" %}

{% block content %}
<div class="row search-bar">
    <div class="col-md-10 col-lg-10">
        <input type="text" id="search" />
    </div>
    <div class="col-md-2 col-lg-2 btn-group">
        <button type="button" class="btn btn-default half-width-btn" id="search-btn">search</button>
        <button type="button" class="btn btn-default half-width-btn" id="new-btn">new</button>
    </div>
</div>

<div class="row">
    {% for post in pager.posts %}
        {% include '_post.html' %}
    {% endfor %}

    <nav class="pull-right">
        <button id="nav-btn-prev" class="btn btn-default nav-btn {{ 'disabled' if not pager.has_prev_page else '' }}"
           data-page="{{ pager.prev }}">
            &lt;
        </button>
        <button id="nav-btn-next" class="btn btn-default nav-btn {{ 'disabled' if not pager.has_next_page else '' }}"
           data-page="{{ pager.next }}">
            &gt;
        </button>
    </nav>
</div>

<script>
    globals.data = {
        searchUrl: "{{ url_for('index', _external=True) }}",
        newPostUrl: "{{ url_for('new', _external=True) }}",
        tags: {{ tags|tojson|safe }}
    }
</script>
<script src="{{ url_for('static', filename='index.js') }}"></script>

{% endblock %}