{% extends "base.html" %}

{% block content %}
<div class="row search-bar">
    <div class="col-md-10 col-lg-10">
        <input type="text" id="search" />
    </div>
    <div class="col-md-2 col-lg-2 btn-group">
        <button type="button" class="btn btn-default half-width-btn" id="search-btn">search</button>
        <button type="button" class="btn btn-default half-width-btn" id="new-btn">new</button>
    </div>
</div>

<div class="row">
    {% for post in posts %}
        <div class="entry well well-sm">
            <div class="meta-entry">
                <h2 class="label label-default">{{ post.created_at|date }}</h2>

                <div class="btn-group btn-group-xs pull-right" role="toolbar">
                    {% for tag in post.tags %}
                        <a href="#" class="btn btn-default"
                           role="group" aria-label="{{ tag.name }}">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                </div>

            </div>
            <div class="post">
                {{ post.html|safe }}
            </div>
            <div class="edit-post pull-right btn-group" role="group">
                <a href="{{ url_for('edit', post_id=post.id) }}" class="btn btn-default">
                    edit
                </a>
                <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-default">
                    view
                </a>
                <a href="{{ url_for('delete', post_id=post.id) }}" data-toggle="confirmation" class="btn btn-danger">
                    delete
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    {% endfor %}
</div>

<script>
    var globals = globals || {}
    globals['searchUrl'] = "{{ url_for('search', _external=True) }}"
    globals['newPostUrl'] = "{{ url_for('new', _external=True) }}"

    $(function() {
        $('#search').select2({
            placeholder: 'Search tags',
            tags: true,
            tokenSeparators: [' ', ','],
            width: '100%'
        });
        $('#search').on('change', function() {
            console.log('--changed')
        })

        var toggleMeta = function(showOrHide) {
            showOrHide = parseInt(showOrHide)
            if ( showOrHide ) {
                $('.meta-entry').css({
                    display: ''
                })
                $('.edit-post').css({
                    display: ''
                })
                $('.entry').css({
                    border: '1px solid #ddd',
                    'margin-top': 20,
                    'padding': 20
                })
                $('.entry').addClass('well')
                $('.entry').addClass('well-sm')
            } else {
                $('.meta-entry').css({
                    display: 'none'
                })
                $('.edit-post').css({
                    display: 'none'
                })
                $('.entry').css({
                    border: 'none',
                    'margin-top': 0,
                    'padding': 0
                })
                $('.well').each(function(idx, el) { $(el).removeClass('well') })
                $('.well').each(function(idx, el) { $(el).removeClass('well-sm') })
            }
        }

        var callback = function() {
            var showOrHide = sessionStorage.getItem('showOrHide') || 1
            showOrHide = 1 - showOrHide
            sessionStorage.setItem('showOrHide', showOrHide)
            toggleMeta(showOrHide)
        }
        Mousetrap.bind('alt+h', callback);

        toggleMeta(sessionStorage.getItem('showOrHide') || 1)

        $('[data-toggle="confirmation"]').confirmation({
            placement: 'top',
            onConfirm: function(event, element) {
                window.location = $(element).attr('href')
            }
        })

        $('#new-btn').click(function() {
            location.href = globals['newPostUrl'] + '?tags=' + encodeURIComponent($('#search').val())
        })
    })
</script>

{% endblock %}